<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDB_BEARER_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZDVlYmRmYzMyMGEzMWQ1ZDU0NzkzYWQwZDEyZmZiYyIsIm5iZiI6MTYxMjQ4ODEyMS40NjIwMDAxLCJzdWIiOiI2MDFjOWRiOTdhZDA4YzAwM2ZlMDNkYmQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.rT6AJO6olxl8SZaHLZC-2RWXMZfoWoKVadpTRO1siPk</string>
</dict>
</plist>
